# Python cache and bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv/
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

# Test / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/

# Jupyter
.ipynb_checkpoints/

# VS Code / JetBrains
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Generated segmentation outputs (created by utils/analyze_segment.py)
mask/
sat_images/
converted_sat_images/
printable_cards/
image_feature_map.json
interactive_segmentation.ipynb
bingo_cards.json
bingo_game_presentation.pdf